@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
}

body{
   color: white;
   font-family: 'Lato', sans-serif;
   background-image: url("./img/bg.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 100vh;
   overflow: hidden;
   
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}
.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;

    background-color: rgba(0, 0, 0, 0.523);
    padding: 5px 20px;
    border-radius: 5px;
}


.countdown{
   transform: scale(1);
   display: none;
}


.year{
   font-size: 100px;
   opacity: 0.2;
   position: absolute;
   bottom: -100px;
}

h1{
    background-color: rgba(0, 0, 0, 0.523);
    padding: 5px 20px;
    border-radius: 5px;
}